COMPOSE_FILE=docker-compose.yml

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_this_to_a_random_32_character_secret
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost:8081
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Docker compose (host): mysql://symfony:symfony@127.0.0.1:33061/symfony?serverVersion=8.0.40&charset=utf8mb4
DATABASE_URL="mysql://symfony:symfony@127.0.0.1:33061/symfony?serverVersion=8.0.40&charset=utf8mb4"
###< doctrine/doctrine-bundle ###
